/* @theme _basic */

@import "_base";

section.lead h1 {
font-size: var(100px);
margin: 0 auto 100px;
border: 0;
}

section.lead h2 {
    font-size: var(50px);
    margin: 0 auto 100px;
}

:root {
    background-color: rgb(250, 215, 255);
}
