/* @theme A4-Page */
@import "base";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


section {
        width: 210mm;
        height: 297mm;
        justify-content: start;
        padding: 50px;
    }




h1 {font-size: 1.0em;padding-left: 0em;padding-bottom: 0em;margin: .5em 0em;}
h2 {font-size: 0.9em;padding-left: .4em;padding-bottom: 0em;margin: .4em 0em;}
h3 {font-size: 0.8em;padding-left: .8em;padding-bottom: 0em;margin: .25em 0em;}
h4 {font-size: 0.7em;padding-left: 1.2em;padding-bottom: 0em;margin: .15em 0em;}
h5 {font-size: 0.6em;padding-left: 1.6em;padding-bottom: 0em;margin: .1em 0em;}
h6 {font-size: 0.5em;padding-left: 2em;padding-bottom: 0em;margin: .1em 0em;}
ul {font-size: 0.7em;}
table {
        font-size: 0.7em;
        padding-left: 1.2em;
        padding-bottom: 0em;
        margin: .15em 0em;
    }