/* @theme landscape_16to9_note */

@import 'default';

section
{
  width: 310mm;
  height: 174mm;
  justify-content: start;
  margin: 1px;
  padding: 50px 25px 50px 25px;
  border: 0px;
  background-color:#dee4ee;
  line-height: 105%;
}

section pre {
  font-size: .8rem;
  margin: 0.3rem 0;
  padding: 0.5rem 0.5rem;
  background-color: #000d11;
  color: #e3e3e3;
}

section p
{
  font-size: 20px ;
  line-height: none;
}
section ul
{
  font-size: 18px ;
  line-height: none;
}
section h6
{
  font-size: 20px ;
  line-height: none;
}
section h3,h4
{
  font-size: 32px ;
  padding: 5px 15px 5px 15px;
  color: #ffffff;
  background-color: #120b6b;
  line-height: none;
}

section h1,h2 {
  position: absolute; /* 絶対位置を指定 */
  left: 0px; /* 親要素（section）の左端からの位置 */
  top: 50%; /* 親要素の上端から50%の位置 */
  transform: translateY(-50%); /* Y軸に沿って-50%移動して中央に配置 */
  width: 100%;
  height: 160px; /* 具体的な高さを指定 */
  font-size: 60px;
  padding: 0px 50px;
  color: #ffffff;
  background-color: #120b6b;
  line-height: 160px; /* 高さと同じ値に設定して中央揃え */
}




section h1 strong{color: rgb(255, 0, 0) ;}
section h2 strong{color: rgb(255, 0, 0) ;}
section h3 strong{color: rgb(255, 0, 0) ;}

section strong
{
  color: purple
}



section.title {
  background-color: #120b6b;
  color: #333;
}

section.title h1{
  background-color: #f0f0f0;
  color: #120b6b;
}

section.title footer{
  display: none;
}
