/* @theme Portrait display 16vs9 */
@import "base";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


section {
    /* width: 720px;    height: 1280px; */
    width: 1080px;    height: 1920px;
    /* width: 210mm;
    height: 297mm; */
    justify-content: start;
    padding: 50px;
    }




h1 {font-size: 1.8rem; padding-left: 0rem;padding-bottom: 0rem;margin: .0rem 0rem;}
h2 {font-size: 1.2rem; padding-left: .6rem;padding-bottom: 0rem;margin: .6rem 0rem;text-decoration: underline;}
h3 {font-size: 1.0rem;padding-left: 1.2rem;padding-bottom: 0rem;margin: .25rem 0rem;}
h4 {font-size: 1.0rem;padding-left: 1.8rem;padding-bottom: 0rem;margin: .15rem 0rem;}
h5 {font-size: 1.0rem;padding-left: 2.4rem;padding-bottom: 0rem;margin: .1rem 0rem;}
h6 {font-size: 1.0rem;padding-left: 3rem;padding-bottom: 0rem;margin: .1rem 0rem;}

ul {font-size: 0.9rem;padding-left: 1.8rem;}
p {font-size: 0.9rem;padding-left: 1.8rem;}

table {
        font-size: 0.9rem;
        padding-left: 1.8rem;
        padding-bottom: 0rem;
        margin: .15rem 0rem;
    }