/* @theme 勉強会_早起き同好会 */

@import 'default';
@import '_base_naru02';


/* ページサイズについて
A4の短辺(210mm)は96dpiで794px
短辺を794pxに固定して他のページサイズを設定 */
/* A4 portrait */
/* section{width: 794px;  height: 1123px;} */
/* 16:9 portrait */
/* section{width: 794px;  height: 1412px;} */
/* 4:3 portrait */
/* section{width: 794px;  height: 1059px;} */
/* A4 landscape */
/* section{width: 1123px;  height: 794px;} */
/* 9:16 landscape */
/* section{width: 1412px;  height: 794px;} */
/* 3:4 landscape */
section{width: 1059px;  height: 794px;}


/* ベースフォントサイズを指定 */
:root {
    --base-font-size: 28px;
    --indent-coef: 0.5;
    --fontsize-coef: 0.12;
}


section.title h3{background-color: initial; color: #f0f0f0; position: absolute; left: 670px; top: calc(50% + 128px + 80px);padding: 0px 0px; }
section.title h4{background-color: initial; color: #f0f0f0; position: absolute; left: 670px; top: calc(50% + 176px + 80px);padding: 0px 0px; }
section.title h5{background-color: initial; color: #f0f0f0; position: absolute; left: 670px; top: calc(50% + 228px + 80px);padding: 0px 0px; }
section.title h3{font-size: calc(var(--base-font-size) * (1 + var(--fontsize-coef) * 3)); margin: 0px 40px 12px 0px; border-radius: 0px}
section.title h4{font-size: calc(var(--base-font-size) * (1 + var(--fontsize-coef) * 3)); margin: 0px 0px 12px 0px; border-radius: 0px}
section.title h5{font-size: calc(var(--base-font-size) * (1 + var(--fontsize-coef) * 3)); margin: 0px 0px 12px 0px; border-radius: 0px}


/* スライドの背景について */
@import '_bg_hayaoki';
/* @import '_bg_spyder'; */
